#controls{
	margin: 3em 5em 0 0;
	float: right;
}
	#controls fieldset{
		background-color: #ff6;
		border: 1px dashed #a00;
	}
	#controls input,
	#controls label{
		cursor: pointer;
	}
	#controls label{
		font-weight: bold;
		display: block;
		padding: .5em 1em;
	}
	.hidden{
		display: none;
	}