body{
	font: 75% Arial, Helvetica, sans-serif;
}

#outerjacket{
	width: 1024px;
	margin: 1em auto 0px;
}

#nav{
	background: url("../img/n_top_bg.png") repeat-x top left;
	height: 37px;
}

#nav, #nav li{
	display: block;
	list-style: none;
	position: relative;
	z-index: 82;
}
	#nav > li{
		float: left;
		z-index: 82;
	}
		#nav > li:hover{
			background: url("../img/n_top_over.png") repeat-x top left;
		}
		
		#nav a{
			display: block;
			line-height: 37px;
			padding: 0px 0.5em;
			z-index: 82;
			position: relative;
			color: #749888;
		}
			#nav a:hover{
				color: #fff;
			}
		
		/* Subnav Menu */
		#nav .submenu{
			display: none;
			position: absolute;
			z-index: 80;
			background: url("../img/n_sub_bg.png") repeat-x left top #353535;
			border: 1px solid #000;
			
			left: 0px;
			top: 37px;
			min-width: 100%;
			
			-o-box-shadow:		2px 2px 3px #000;
			-icab-box-shadow:	2px 2px 3px #000;
			-khtml-box-shadow:	2px 2px 3px #000;
			-moz-box-shadow:	2px 2px 3px #000;
			-webkit-box-shadow:	2px 2px 3px #000;
			box-shadow:			2px 2px 3px #000;
		}
			#nav .submenu li{
				display: block;
				line-height: 27px !important;
			}
				#nav .submenu li:hover{
					background: url("../img/n_sub_over.png") repeat-x top left;
				}
				
				#nav .submenu a{
					display: block;
					line-height: 27px !important;
					white-space: nowrap;
				}
				
				#nav > li:hover .submenu{
					display: block;
				}
					/* Hide next level of subnavigation */
					#nav > li:hover > .submenu .submenu{
						display: none;
					}


				#nav .padding{
					display: block;
					position: absolute;
					z-index: 78;
					
					width: 100%;
					height: 100%;
					
					top: 0px;
					left: 0px;
					background: none !important;
				}
					/* Padding amount for first-level dropdown */
					#nav > li > .submenu > .padding{
						width: 160%;
						left: -30%;
						height: 140%;
					}
				
				#nav .buffer{
					display: block;
					position: absolute;
					bottom: 0px;
					right: 100%;
					
					width: 100%;
					height: 100%;
					background: none !important;
				}
				
				#nav .shadow{
					display: none !important;
				}
		
		/*	Third-level Subnavigation */
			#nav .submenu .submenu{
				position: absolute;
				left: 100%;
				top: -1px;
			}
				#nav .submenu .submenu .padding{
					width: 150%;
					top: -35%;
					height: 170%;
				}
				/*	Show subnavigation */
				#nav > li:hover .submenu li:hover > .submenu{
					display: block;
					z-index: 70 !important;
				}
		



		/* CSS3 Transition Handling */
		#nav.use-trans li > .submenu{
			opacity: 0;
			display: block !important;
			left: -100000px !important;
			
			-moz-transition:		0.2s opacity ease-in, 0s left linear 0.22s;
			-webkit-transition:		0.2s opacity ease-in, 0s left linear 0.22s;
			-khtml-transition:		0.2s opacity ease-in, 0s left linear 0.22s;
			-icab-transition:		0.2s opacity ease-in, 0s left linear 0.22s;
			-ms-transition:			0.2s opacity ease-in, 0s left linear 0.22s;
			-o-transition:			0.2s opacity ease-in, 0s left linear 0.22s;
			transition:				0.2s opacity ease-in, 0s left linear 0.22s;
		}
			/* Hide next level of subnavigation */
			#nav.use-trans > li:hover > .submenu .submenu{
				display: block !important;
				left: -10000px !important;
			}

			
			/* Hover */
			#nav.use-trans > li:hover > .submenu,
			#nav.use-trans > li > .submenu li:hover > .submenu{
				opacity: 1 !important;
				
				-moz-transition-delay:		0s;
				-webkit-transition-delay:	0s;
				-khtml-transition-delay:	0s;
				-icab-transition-delay:		0s;
				-ms-transition-delay:		0s;
				-o-transition-delay:		0s;
				transition-delay:			0s;
			}
				#nav.use-trans > li:hover > .submenu				{	left: 0px !important;	}
				#nav.use-trans > li > .submenu li:hover > .submenu	{	left: 100% !important;	}


			/*#nav.use-trans li > .submenu > .submenu_clip{
				overflow: hidden;
				width: 0%;

				-moz-transition:		0s width ease-in 0.22s;
				-webkit-transition:		0s width ease-in 0.22s;
				-khtml-transition:		0s width ease-in 0.22s;
				-icab-transition:		0s width ease-in 0.22s;
				-ms-transition:			0s width ease-in 0.22s;
				-o-transition:			0s width ease-in 0.22s;
				transition:				0s width ease-in 0.22s;
			}*/

				/*#sitenav.use-trans > ul > li:hover > .children > .submenu_clip{
					width: 100%;
					-moz-transition-delay: 0s;
					-webkit-transition-delay: 0s;
					-khtml-transition-delay: 0s;
					-icab-transition-delay: 0s;
					-ms-transition-delay: 0s;
					-o-transition-delay: 0s;
					transition-delay: 0s;
				}*/



		/*	Running Border on Subnavigation
		-	Stable implementation requires an additional span tag at the end of each anchor tag.
		*/
		#nav ul a{
			position: relative;
		}
			#nav ul a span{
				background-color: #5a5a5a;
				position: absolute;
				bottom: 0px;
				left: 0px;
				height: 1px;
				width: 100%;
			}



		/*	Outlining Rules for Debugging */
		.padding	{	outline-color: red;		}
		.buffer		{	outline-color: blue;	}
		
		.showbounds .padding,
		.showbounds .buffer{
			outline-style: solid;
			outline-width: 1px;
		}